{% extends "base.html.twig" %}
{% block body %}
<div class="container center">
    <div class="section">
        <div class="row">
            <div class="s12">
                <button class="custom-btn-1">
                </button>
            </div>
        </div>
    </div>
        <div class="section">
            <div class="row">
                <div class="s12">
                    <div class="custom-btn-2-container">
                        <div class="custom-btn-2">
                            <div class="round-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}