@import "./responsive.scss";

/*
***********************************
COLORS
***********************************
*/
:root {
    --primary-color: #ffffff;
    --secondary-color: #ffd800;
    --tertiary-color: #1b1b1b;
    --tertiary-hover-color: #4e4e49;
    --breadcrumb-current-color: #ff5169;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*
***********************************
TEXTS
***********************************
*/
h1,
h2,
h3,
h4,
h5,
h6,
.viaoda-font {
    font-family: "Viaoda Libre", cursive;
}

.viaoda-font {
    font-size: 1.6em;
}

.p-justify {
    text-align: justify;
    line-height: 1.7em;
}

.title-shadow {
    text-shadow: 3px 3px 3px black;
}

* {
    user-select: none;
}

.bold {
    font-weight: bold;
}

/*
***********************************
NAVS & BREADCRUMBS
***********************************
*/
.nav-wrapper {
    background-color: var(--primary-color);
}

.breadcrumb {
    color: var(--tertiary-color);
}

.breadcrumb:last-child {
    color: var(--breadcrumb-current-color) !important;
}
/*
***********************************
LOGO
***********************************


/*
***********************************
BUTTONS
***********************************
*/
.btn,
.btn-small,
.btn-large {
    background-color: var(--tertiary-color);
    &:hover {
        background-color: var(--tertiary-hover-color);
    }
}

a.button {
    background: #ececec;
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    font-family: arial;
    font-weight: bold;
    color: #7f7f7f;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;
    border: 1px solid #a7a7a7;
    width: 145px;
    margin: 0px auto !important;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1),
        0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s;
}
a.button i {
    float: right;
    margin-top: 2px;
}
a.button:hover {
    box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1),
        0px 8px 10px rgba(0, 0, 0, 0.1);
}
a.button:active {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1),
        0px 2px 10px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(top, #d1d1d1 0%, #ececec 100%);
}

/*
***********************************
CONTAINERS
***********************************
*/

.parallax {
    background-color: var(--secondary-color);
    transition: 0.4s ease-in-out;
}

.page-footer {
    background-color: var(--tertiary-color);
    margin-top: auto !important;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.custom-col {
    width: 300px;
}

.article-show {
    display: flex;
    justify-content: space-evenly;
    @include sm {
        flex-direction: column;
    }
    @include xs {
        flex-direction: column;
    }
}

.article-right,
.article-left {
    width: 50%;
    @include sm {
        width: 100%;
    }
    @include xs {
        width: 100%;
    }
}

.article-right {
    height: 600px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 5em;
}

/*
***********************************
FORMS
***********************************
*/

form {
    padding: 4em;
}

input::placeholder {
    color: var(--tertiary-color);
}

.articles-quantity {
    width: 50px !important;
}
