/*
***********************************
COLORS
***********************************
*/
:root {
    --primary-color: #ffffff;
    --secondary-color: #ffd800;
    --tertiary-color: #1b1b1b;
    --tertiary-hover-color: #4e4e49;
    --breadcrumb-current-color: #ff5169;
}

/*
***********************************
TEXTS
***********************************
*/
h1,
h2,
h3,
h4,
h5,
h6,
.viaoda-font
{
    font-family: "Viaoda Libre", cursive;
}
.viaoda-font {
    font-size: 1.6em;
}
.p-justify {
    text-align: justify;
    line-height: 1.7em;
}

.title-shadow {
    text-shadow: 3px 3px 3px black;
}

/*
***********************************
NAVS & BREADCRUMBS
***********************************
*/
.nav-wrapper {
    background-color: var(--primary-color);
}

.breadcrumb {
    color: var(--tertiary-color);
}

.breadcrumb:last-child {
    color: var(--breadcrumb-current-color)!important;
}
/*
***********************************
LOGO
***********************************

/*
***********************************
CONTAINERS
***********************************
*/

.parallax {
    background-color: var(--secondary-color);
    transition: 0.4s ease-in-out;
}

.parallax-container:hover .parallax {
    opacity: 0.5;
}

.page-footer {
    background-color: var(--tertiary-color);
}

/*
***********************************
BUTTONS
***********************************
*/
.btn,
.btn-small,
.btn-large {
    background-color: var(--tertiary-color);
    &:hover {
        background-color: var(--tertiary-hover-color);
    }
}

/*
***********************************
FORMS
***********************************
*/

form {
    padding: 4em;
}

input::placeholder {
    color: var(--tertiary-color);
}
