{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}

{# Breadcrumb #}

<div class="container">
    <div class="section">
        <div class="row">
            THANK YOU
            {{ dump(order) }}
        </div>
    </div>
</div>

{% endblock %}